.bighead {
  background-image: url(./images/thought-catalog-Nv-vx3kUR2A-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}
.bighead img {
  height: 200px;
  width: 50px;
}
.nvb {
  display: flex;
  flex-direction: row;
  margin-right: 200px;
}
.nvb h1 {
  font-size: 15px;
}

.head {
  display: flex;
  flex-direction: row;
}
.blog {
  margin-right: 30px;
}
.contact {
  margin-right: 30px;
}
.aqua {
  background-color: aqua;
  border-style: solid;
  border-color: none;
  border-width: 0cm;
  width: 100px;
}
.side {
  margin-top: 100px;
  margin-left: 60px;
}